<div class="add-row-editable-table">
    <button has-permission="config.trade:edit" class="btn btn-primary" ng-click="addItem()">新增交易账户</button>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>accessKey</td>
        <td>secretKey</td>
        <td>交易市场</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="trade in trades"  class="editable-row"  >
        <td >
            {{$index}}
            <span style="display: none"   e-name="id" e-form="rowform" e-required>
          {{ trade.id || '0' }}
        </span>
        </td>
        <td >
        <span editable-text="trade.accesskey"  e-name="accessKey" e-form="rowform" e-required  >
          {{ trade.accesskey || '' }}
        </span>
        </td>
        <td>
        <span editable-text="trade.secretkey"  e-name="secretKey" e-form="rowform" e-required  >
          {{ trade.secretkey || '' }}
        </span>
        </td>
        <td class="select-td" >
        <span  editable-select="trade.platform"  e-name="platform" e-form="rowform" e-selectpicker
              e-ng-options="s.id as s.name for s in markets">
          {{ showOne(trade) }}
        </span >
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == trade" >
                <button  ng-click="saveItem($index)"  ng-disabled="rowform.$waiting"  class="btn btn-primary editable-table-button btn-xs">
                    保存
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(rowform.$cancel())" class="btn btn-default editable-table-button btn-xs">
                    取消
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button has-permission="config.trade:edit" id="editbutton" class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
                <button has-permission="config.trade:delete" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteItem($index)">删除</button>
            </div>
        </td>
    </tr>
</table>
