<div class="panel-content" xmlns="http://www.w3.org/1999/html">

  <div class="form-group row clearfix datepicker">
    <label class="col-sm-3 control-label" style="font-size: 15px;margin-top: 10px">交易市场</label>

    <div class="col-sm-9" ng-controller="datePickerPopupCtrl" style="width:15%;margin-left: -350px">
      <select name="type" ng-options="s.text for s in markets"
              class="editable-input ng-pristine ng-untouched ng-valid ng-not-empty"
              ng-model="market"
              style="width:150px;height:30px"
              tabindex="-98" style="" ng-change="selectMarket(this)">
      </select>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-lg-4" style="height: 450px;width:300px">
  <div ba-panel ba-panel-title="委托购买" ba-panel-class="xsmall-panel with-scroll light-text" >
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <th>类型</th>
        <th>价格</th>
        <th>数量</th>
      </tr>
      <tr ng-repeat="buy in buys"   >
        <td >
         <span >
           买入{{$index}}
         </span>
        </td>
        <td >
        <span  >
          {{ buy.price || '' }}
        </span>
        </td>
        <td >
        <span  >
          {{ buy.volume || '' }}
        </span>
        </td>

      </tr>
    </table>

  </div>
  </div>

  <div class="col-md-12 col-lg-4" style="height: 450px;width:300px">
    <div ba-panel ba-panel-title="委托卖出" ba-panel-class="xsmall-panel with-scroll light-text" >
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>类型</th>
          <th>价格</th>
          <th>数量</th>
        </tr>
        <tr ng-repeat="sell in sells"   >
          <td >
         <span >
           买入{{$index}}
         </span>
          </td>
          <td >
        <span  >
          {{ sell.price || '' }}
        </span>
          </td>
          <td >
        <span  >
          {{ sell.volume || '' }}
        </span>
          </td>

        </tr>
      </table>

    </div>
  </div>

  <div class="col-md-3 col-sm-4 toastr-radio-setup" style="margin-left:180px">
    <div class="control">
      <label >当前价格:   </label><h3 style="margin-left:60px;color: red">{{currentPrice}}</h3>
    </div>

    <div id="tradeStyle" style="margin-top: 50px">
      <div class="controls radio-controls">
        <label class="radio-header">策略类型：</label>
        <label class="radio custom-radio">
          <input type="radio" ng-model="operation.policy" name="policy" value="dvalue"/><span>按浮动价格差额</span>
        </label>
        <label class="radio custom-radio">
          <input type="radio" ng-model="operation.policy" name="policy" value="drate"/><span>按浮动价格比例</span>
        </label>
        <div style="margin-left: 20px" >

          <div ng-show="(operation.policy =='dvalue')">差额值：<input type="text" style="width: 100px" name="dvalue" ng-model="dvalue" required></div>
         </div>
        <div style="margin-left: 20px"  >
          <div ng-show="(operation.policy=='drate')">差额比例：<input  type="text" style="width: 100px" name="drate" ng-model="drate" required>%</div>
        </div>

      </div>
    </div>

    <div style="margin-top: 20px;margin-bottom: 50px">
        <button ng-click="exePolicy()" class="btn btn-primary"  style="margin-left: 200px">执行</button>
    </div>

    <div>

      <label>执行结果:</label>
       <textarea ng-model="operation.result" class="form-control"  rows="3"
                 placeholder="等待执行 ..."></textarea>
    </div>

  </div>
</div>
</div>
