<div class="panel-content" xmlns="http://www.w3.org/1999/html">

  <div class="form-group row clearfix datepicker">
    <label class="col-sm-3 control-label" style="font-size: 15px;margin-top: 10px">交易市场</label>

    <div class="col-sm-9" ng-controller="datePickerPopupCtrl" style="width:15%;margin-left: -350px">
      <select name="type" ng-options="s.text for s in markets"
              class="editable-input ng-pristine ng-untouched ng-valid ng-not-empty"
              ng-model="market"
              style="width:150px;height:30px"
              tabindex="-98" style="" ng-change="selectMarket(this)">
      </select>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-lg-4" style="height: 600px;width:300px">
  <div ba-panel ba-panel-title="委托购买" ba-panel-class="xsmall-panel with-scroll light-text" >
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <th>类型</th>
        <th>价格</th>
        <th>数量</th>
      </tr>
      <tr ng-repeat="buy in buys"   >
        <td >
         <span >
           买入{{$index}}
         </span>
        </td>
        <td >
        <span  >
          {{ buy.price || '' }}
        </span>
        </td>
        <td >
        <span  >
          {{ buy.volume || '' }}
        </span>
        </td>

      </tr>
    </table>

  </div>
  </div>

  <div class="col-md-12 col-lg-4" style="height: 600px;width:300px">
    <div ba-panel ba-panel-title="委托卖出" ba-panel-class="xsmall-panel with-scroll light-text" >
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>类型</th>
          <th>价格</th>
          <th>数量</th>
        </tr>
        <tr ng-repeat="sell in sells"   >
          <td >
         <span >
           买入{{$index}}
         </span>
          </td>
          <td >
        <span  >
          {{ sell.price || '' }}
        </span>
          </td>
          <td >
        <span  >
          {{ sell.volume || '' }}
        </span>
          </td>

        </tr>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-4 toastr-radio-setup">
      <div class="control">
        <label for="message">Message</label>
        <textarea ng-model="options.msg" class="form-control" id="message" rows="3"
                  placeholder="Enter a message ..."></textarea>
      </div>
      <div id="toastTypeGroup">
        <div class="controls radio-controls">
          <label class="radio-header">Toast Type</label>
          <label class="radio custom-radio">
            <input type="radio" ng-model="options.type" name="toasts" value="success"/><span>Success</span>
          </label>
          <label class="radio custom-radio">
            <input type="radio" ng-model="options.type" name="toasts" value="info"/><span>Info</span>
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <label>Result:</label>
      <pre class="result-toastr" id='toastrOptions'>{{optionsStr}}</pre>
    </div>
    <div class="col-md-12 button-row">
      <button ng-click="openToast()" class="btn btn-primary">Open Toast</button>
      <button ng-click="openRandomToast()" class="btn btn-primary">Random Toast</button>
      <button ng-click="clearToasts()" class="btn btn-danger">Clear Toasts</button>
      <button ng-click="clearLastToast()" class="btn btn-danger">Clear Last Toast</button>
    </div>
  </div>

</div>


</div>
