<div  class="panel-content">

  <div class="form-group row clearfix datepicker">
    <label class="col-sm-3 control-label" style="font-size: 15px;margin-top: 10px">查询日期</label>

    <div class="col-sm-9" ng-controller="datePickerPopupCtrl" style="width:15%;margin-left: -350px">
      <p class="input-group">
        <input type="text" id="data_id" name="date1" ng-change="setDate()"  ng-show="false" class="form-control"
               uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="date"
               is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
               show-button-bar="false" readonly required/>
        <input type="text" id="data_date" name="date" ng-disabled="true" ng-model="realDate" class="form-control"
               ng-required="true" readonly required/>
        <span class="input-group-btn">
          <button type="button"  class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>

      </p>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-lg-4" >
  <div ba-panel ba-panel-title="委托购买" ba-panel-class="xsmall-panel with-scroll light-text" >
    <p>
      Suspendisse nec tellus urna. Sed id est metus. Nullam sit amet dolor nec ipsum dictum suscipit. Mauris sed nisi
      mauris. Nulla iaculis nisl ut velit ornare imperdiet. Suspendisse potenti. In tempor leo sed sem malesuada
      pellentesque. Maecenas faucibus metus lacus, ac egestas diam vulputate vitae.
    </p>


    <p>
      Sed dapibus, purus vel hendrerit consectetur, lectus orci gravida massa, sed bibendum dui mauris et eros. Nulla
      dolor massa, posuere et dictum sit amet, dignissim quis odio. Fusce mollis finibus dignissim. Integer sodales
      augue erat. Pellentesque laoreet vestibulum urna at iaculis. Nulla libero augue, euismod at diam eget, aliquam
      condimentum ligula. Donec a leo eu est molestie lacinia hendrerit sed lorem. Duis id diam eu metus sodales
      consequat vel eu elit. Praesent dolor nibh, convallis eleifend feugiat a, finibus porttitor nibh. Ut non libero
      vel velit pulvinar scelerisque non vel lorem. Integer porta tempor nulla. Sed nibh erat, ultrices vel lorem eu,
      rutrum vehicula sem.
    </p>

    <p>
      Donec nec tellus urna. Sed id est metus. Nullam sit amet dolor nec ipsum dictum suscipit. Mauris sed nisi
      mauris. Nulla iaculis nisl ut velit ornare imperdiet. Suspendisse potenti. In tempor leo sed sem malesuada
      pellentesque. Maecenas faucibus metus lacus, ac egestas diam vulputate vitae.
    </p>
  </div>
  </div>
</div>
