<div class="add-row-editable-table">
    <button has-permission="config.market:edit" class="btn btn-primary" ng-click="addMarket()">新增交易市场</button>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>交易市场名称</td>
        <td>交易请求URL</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="market in markets"  class="editable-row"  >
        <td >
            {{$index}}
            <span style="display: none"   e-name="id" e-form="rowform" e-required>
          {{ market.id || '0' }}
        </span>
        </td>
        <td >
        <span editable-text="market.name"  e-name="name" e-form="rowform" e-required  >
          {{ market.name || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-text="market.url"  e-name="url" e-form="rowform" e-required  >
          {{ market.url || 'empty' }}
        </span>
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == market" >
                <button ng-click="saveMarket($index)"  ng-disabled="rowform.$waiting"  class="btn btn-primary editable-table-button btn-xs">
                    保存
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(rowform.$cancel())" class="btn btn-default editable-table-button btn-xs">
                    取消
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button has-permission="config.market:edit"  class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
                <button has-permission="config.market:delete"  class="btn btn-danger editable-table-button btn-xs" ng-click="deleteMarket($index)">删除</button>
            </div>
        </td>
    </tr>
</table>
